In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt


from modules.prepare_data_by_model import marge_and_split_by_model


basic_torvet = pd.read_csv("./data/torvet_Benzin.csv", sep=";")
basic_basen = pd.read_csv("./data/Benzin.csv", sep=";")

models=marge_and_split_by_model(basic_torvet,basic_basen)
models

{'100':   model  price      km  year capacity
 0   100  44900  138000  1978      1.6
 1   100  39000  168000  1973      1.8
 2   100  19900  296000  1992      2.6
 3   100  34900  222000  1992      2.8,
 '80':   model  price      km  year capacity
 0    80  39980  177000  1989      1.8
 1    80  69800  125000  1974      1.5
 2    80  28000  183000  1992        2
 3    80  15000  247000  1993        2,
 'A1':    model   price      km  year capacity
 0     A1  274900    4000  2020       30
 1     A1  259900   64000  2019       35
 2     A1  289900    4000  2021       30
 3     A1  295900    4000  2021       30
 4     A1  289900    6000  2021       30
 ..   ...     ...     ...   ...      ...
 80    A1  219900   48000  2017      1.4
 81    A1   99900  115000  2012      1.2
 82    A1  127500   91000  2016        1
 83    A1  149900  145000  2014      1.4
 84    A1  159900   42000  2016        1

 [85 rows x 5 columns],
 'A2':   model  price      km  year capacity
 0    A2  69900  220000  2005      1.6
 1    A2  49900  191000  2000      1.4,
 'A3':     model   price      km  year capacity
 0      A3  329900   10000  2021       35
 1      A3  369900    6000  2021       35
 2      A3  209900   92000  2017        1
 3      A3  282900    6000  2021       30
 4      A3  409900    8000  2021       35
 ..    ...     ...     ...   ...      ...
 336    A3  229500  114000  2014      1.8
 337    A3  249900  126000  2018       40
 338    A3   59800  198000  2008      1.8
 339    A3  254900   19000  2019       30
 340    A3   29900  308000  2006      1.6

 [341 rows x 5 columns],
 'A4':     model   price      km  year capacity
 0      A4  324900   31000  2018       40
 1      A4  424900   15000  2020       40
 2      A4  424900    9000  2020       40
 3      A4  429900    8000  2020       40
 4      A4  429900    4000  2020       40
 ..    ...     ...     ...   ...      ...
 258    A4   74000  298000  2002      2.4
 259    A4  134800  111000  2010        2
 260    A4  269900   63000  2016        2
 261    A4  133000  188000  2013      1.8
 262    A4  501900    8000  2021       40

 [263 rows x 5 columns],
 'A4 Allroad':         model   price      km  year capacity
 0  A4 Allroad  239900  156000  2012        2
 1  A4 Allroad  199900  157000  2010        2,
 'A5':     model   price      km  year capacity
 0      A5  509900    6000  2021       40
 1      A5  449900   11000  2020       40
 2      A5  478900    6000  2021       40
 3      A5  488900    8000  2021       40
 4      A5  464900   12000  2020       40
 ..    ...     ...     ...   ...      ...
 144    A5  399900   59000  2018        2
 145    A5  254900  110000  2016      1.8
 146    A5  299900   53000  2016      1.8
 147    A5  159900  168000  2009        2
 148    A5  642900    6000  2021       40

 [149 rows x 5 columns],
 'A6':    model   price      km  year capacity
 0     A6  549900   26000  2019       45
 1     A6  669900    7000  2020       45
 2     A6    6000  243000  1994      2.6
 3     A6   58500  246000  2007        2
 4     A6   36999  247000  2005      2.4
 ..   ...     ...     ...   ...      ...
 91    A6  209900  187000  2011      2.8
 92    A6  419700  142000  2015        2
 93    A6   24900  417000  1997      2.8
 94    A6  319000   98000  2015      1.8
 95    A6   21900  270000  1998      2.4

 [96 rows x 5 columns],
 'A7':   model   price      km  year capacity
 0    A7  459900   59000  2017      1.8
 1    A7  399895  150000  2016        2
 2    A7  499895   32000  2017      1.8
 3    A7  580000   60000  2016        2
 4    A7  399895  150000  2016        2
 5    A7  499895   32000  2017      1.8
 6    A7  385000   56000  2016        2,
 'A8':   model   price      km  year capacity
 0    A8  129800  230000  2003      4.2
 1    A8   49700  234000  1994      2.8
 2    A8  119000  236000  2004      4.2
 3    A8  369900  115000  2011        3
 4    A8  249800  289000  2004        6
 5    A8  200000   50000  2019        3
 6    A8  329999  172000  2005        6
 7    A8  329999  172000  2005        6
 8    A8  105000  378000  2004      4.2,
 'Cabriolet':        model  price      km  year capacity
 0  Cabriolet  90000  145000  1996      2.8
 1  Cabriolet  74500  199000  1992      2.3,
 'Coupé':    model   price     km  year capacity
 0  Coupé  119900  74000  1986        2,
 'Q2':    model   price     km  year capacity
 0     Q2  275900   6000  2020       30
 1     Q2  282900   4000  2021       30
 2     Q2  284900   6000  2021       30
 3     Q2  289900  15000  2021       30
 4     Q2  289900   6000  2021       30
 ..   ...     ...    ...   ...      ...
 77    Q2  339900   6000  2020       35
 78    Q2  275900   6000  2020       30
 79    Q2  279900   9000  2021       30
 80    Q2  364900   9000  2021       35
 81    Q2  264900  39000  2017      1.4

 [82 rows x 5 columns],
 'Q3':    model   price     km  year capacity
 0     Q3  364900   6000  2021       35
 1     Q3  369900   7000  2021       35
 2     Q3  354900  30000  2019       35
 3     Q3  389900   5000  2020       35
 4     Q3  419900  11000  2021       35
 ..   ...     ...    ...   ...      ...
 95    Q3  299900  55000  2018      1.4
 96    Q3  299800  61000  2018      1.4
 97    Q3  319980  47000  2017      1.4
 98    Q3  189900  94000  2014      1.4
 99    Q3  374900  14000  2020       35

 [100 rows x 5 columns],
 'Q5':    model   price      km  year capacity
 0     Q5  349900   94000  2014        2
 1     Q5  649900    9000  2020       45
 2     Q5  359000   97000  2014        3
 3     Q5  624900   49000  2018        2
 4     Q5  199900  207000  2012        2
 5     Q5  269900  132000  2012        2
 6     Q5  229800  257000  2010      3.2
 7     Q5  629900   52000  2017        2
 8     Q5  239700   99000  2010        2
 9     Q5  279800  133000  2012      3.2
 10    Q5  649800   54000  2017        2
 11    Q5  599900   11000  2017        2
 12    Q5  689900   38000  2017        2
 13    Q5  229900  159000  2011        2
 14    Q5  269900  132000  2012        2
 15    Q5  649900    9000  2020       45
 16    Q5  349900   94000  2014        2
 17    Q5  629900   52000  2017        2
 18    Q5  229900  159000  2011        2
 19    Q5  649800   54000  2017        2
 20    Q5  689900   38000  2017        2
 21    Q5  624900   49000  2018        2
 22    Q5  599900   11000  2017        2
 23    Q5  359000   97000  2014        3
 24    Q5  229800  122000  2009        2,
 'Q7':   model   price      km  year capacity
 0    Q7  389800  117000  2014        3,
 'R8':    model    price      km  year capacity
 0     R8  1299900   28000  2015      4.2
 1     R8   399995   71000  2008      4.2
 2     R8   285000  118000  2008      4.2
 3     R8  1395900   15000  2012      5.2
 4     R8   699900   31000  2009      5.2
 5     R8   562500   69000  2014      4.2
 6     R8   450000   75000  2013      5.2
 7     R8  1299900   28000  2014      4.2
 8     R8   450000   75000  2013      5.2
 9     R8     4150   49000  2014      5.2
 10    R8   399995   71000  2008      4.2
 11    R8   219999   99000  2008      4.2,
 'RS 3':   model   price     km  year capacity
 0  RS 3  869800  42000  2017      2.5
 1  RS 3  330000  45000  2018      2.5
 2  RS 3  699900  57000  2016      2.5,
 'RS 4':   model    price      km  year capacity
 0  RS 4   249995  169000  2007      4.2
 1  RS 4   399900  177000  2006      4.2
 2  RS 4  1199900   38000  2018      2.9
 3  RS 4   799900   48000  2015      4.2
 4  RS 4   480000   24000  2018      2.9
 5  RS 4   270000   99000  2013      4.2
 6  RS 4   290000   75000  2015      4.2,
 'RS 5':   model   price      km  year capacity
 0  RS 5  439000  118000  2010      4.2
 1  RS 5  450000   30000  2017      2.9
 2  RS 5  337000   45000  2015      4.2,
 'RS 6':    model    price      km  year capacity
 0   RS 6  2428900    6000  2021        4
 1   RS 6   219999   94000  2009        5
 2   RS 6  1199900  121000  2016        4
 3   RS 6  1199500   89000  2017        4
 4   RS 6   419900  211000  2008        5
 5   RS 6   299900  183000  2009        5
 6   RS 6  1129800   90000  2016        4
 7   RS 6   799900  108450  2010        5
 8   RS 6   440000   54000  2015        4
 9   RS 6   349900   75000  2013        4
 10  RS 6   314700  160000  2009        5
 11  RS 6   200000  157000  2008        5,
 'RS 7':   model   price     km  year capacity
 0  RS 7  497000  63000  2016        4
 1  RS 7  350000  79000  2014        4,
 'RS Q3':    model    price     km  year capacity
 0  RS Q3  1099900  10000  2020      2.5
 1  RS Q3   629900  56000  2015      2.5,
 'RS Q8':    model    price     km  year capacity
 0  RS Q8  2595900  24000  2020        4
 1  RS Q8  2995000   5000  2021        4,
 'RS4':   model   price      km  year capacity
 0   RS4  399900  177000  2006      4.2
 1   RS4  799900   48000  2015      4.2,
 'RS5':   model    price     km  year capacity
 0   RS5  1887675      0  2020      2.9
 1   RS5   999900  76000  2017      2.9,
 'RS6':   model    price      km  year capacity
 0   RS6   799900  104000  2010        5
 1   RS6   419900  211000  2008        5
 2   RS6  1199800   77000  2015        4
 3   RS6  2594536       0  2021        4
 4   RS6  1199500   89000  2017        4
 5   RS6   299900  183000  2009        5
 6   RS6  1199900   74000  2017        4
 7   RS6  1199900  121000  2016        4
 8   RS6  1399890   75000  2016        4,
 'RS7':   model   price      km  year capacity
 0   RS7  350000   79000  2014        4
 1   RS7  340000  140000  2016        4,
 'S1':   model   price     km  year capacity
 0    S1  354900  42000  2018        2
 1    S1  354900  42000  2018        2,
 'S3':    model   price      km  year capacity
 0     S3  724900    6000  2021        2
 1     S3  689900   12000  2021        2
 2     S3  674900    9000  2021        2
 3     S3  449900   67000  2015        2
 4     S3  389900   83000  2014        2
 5     S3  365000  129000  2014        2
 6     S3  619800   31000  2017        2
 7     S3  449900   68000  2016        2
 8     S3  549649   63000  2015        2
 9     S3  449900   17300  2015        2
 10    S3  379700  138000  2016        2
 11    S3  399900   84000  2016        2
 12    S3    3981   84000  2016        2
 13    S3  628800   13239  2017        2
 14    S3  689900   12000  2021        2
 15    S3  449900   17300  2015        2
 16    S3  619800   31000  2017        2
 17    S3  674900    9000  2021        2
 18    S3  628800   13239  2017        2
 19    S3  359000  129000  2014        2,
 'S4':   model   price      km  year capacity
 0    S4  219900  106000  2003      4.2
 1    S4  279900  230000  2013        3
 2    S4  239000  153000  2009        3
 3    S4  229900  161000  2009        3
 4    S4  219900  106000  2003      4.2
 5    S4  279900  230000  2013        3
 6    S4  330000  118000  2013        3,
 'S5':    model   price      km  year capacity
 0     S5  759900   34000  2017        3
 1     S5  729900   48000  2017        3
 2     S5  799799   41000  2017        3
 3     S5  799799   44000  2018        3
 4     S5  849849   62000  2018        3
 5     S5  799900   32000  2017        3
 6     S5  839800   37000  2018        3
 7     S5  799800   63000  2018        3
 8     S5  899900   38000  2018        3
 9     S5  299900  147000  2011        3
 10    S5  279000  214000  2012        3
 11    S5  695000  116000  2018        3
 12    S5  280000   60000  2017        3
 13    S5  794800   64000  2017        3
 14    S5  429900   56000  2012        3
 15    S5  284900  175000  2011        3
 16    S5  329900  146000  2010        3
 17    S5  445900  124000  2012        3
 18    S5  129900  170000  2010        3
 19    S5  319900  195000  2013        3
 20    S5  498800  102000  2014        3
 21    S5  349900  174000  2011        3
 22    S5  839800   37000  2018        3
 23    S5  799900   22000  2017        3
 24    S5  498800  102000  2014        3
 25    S5  695000  116000  2018        3
 26    S5  429900   56000  2012        3
 27    S5  739900   35000  2017        3,
 'S6':    model   price      km  year capacity
 0     S6  449900  201000  2013        4
 1     S6  699900   83000  2017        4
 2     S6  449000  144000  2014        4
 3     S6  689900   49000  2017        4
 4     S6  389900  206000  2012        4
 5     S6  239900  117000  2006      5.2
 6     S6  699800   89000  2014        4
 7     S6  649900   80000  2014        4
 8     S6   34800  315000  2000      4.2
 9     S6  649800  115000  2014        4
 10    S6  699900   96000  2016        4
 11    S6  320000   81000  2015        4
 12    S6  699980   67000  2016        4
 13    S6  349900  228000  2012        4
 14    S6  160000  201000  2007      5.2
 15    S6  689900   49000  2017        4
 16    S6  449900  201000  2013        4
 17    S6  699900   96000  2016        4
 18    S6  161000  199000  2007      5.2
 19    S6  699800   89000  2014        4
 20    S6  699900   83000  2017        4
 21    S6  349900  228000  2012        4
 22    S6  160000  201000  2007      5.2,
 'S7':   model   price      km  year capacity
 0    S7  939939   62000  2016        4
 1    S7  619900  118000  2012        4
 2    S7  649800  134000  2013        4
 3    S7  649700  141000  2013        4
 4    S7  619900  118000  2012        4
 5    S7  589999  140000  2013        4
 6    S7  200000  188000  2012        4
 7    S7  649700  141000  2013        4,
 'S8':   model    price     km  year capacity
 0    S8   599900  55000  2012        4
 1    S8  1249900  52000  2017        4
 2    S8  1199800  45000  2016        4
 3    S8   599900  55000  2012        4
 4    S8  1249900  52000  2017        4
 5    S8  1199800  45000  2016        4,
 'SQ5':    model   price      km  year capacity
 0    SQ5  769900   62000  2018        3
 1    SQ5  749900   69000  2018        3
 2    SQ5  869900   61000  2017        3
 3    SQ5    5140   34000  2018        3
 4    SQ5  649400  120000  2018        3
 5    SQ5  859000   36000  2017        3
 6    SQ5  859000   36500  2017        3
 7    SQ5  799995   59000  2018        3
 8    SQ5  799800   81000  2018        3
 9    SQ5  839900   62000  2018        3
 10   SQ5  350000   40000  2017        3
 11   SQ5  799500   58000  2018        3
 12   SQ5  398000   13000  2018        3
 13   SQ5  869900   84000  2017        3
 14   SQ5  329900   84000  2017        3
 15   SQ5  799995   59000  2018        3
 16   SQ5  799500   58000  2018        3
 17   SQ5  749900   69000  2018        3
 18   SQ5  799800   81000  2018        3
 19   SQ5  769900   62000  2018        3
 20   SQ5  859000   36500  2017        3
 21   SQ5  859000   36000  2017        3
 22   SQ5  649400  120000  2018        3,
 'TT':    model   price      km  year capacity
 0     TT  607900    6000  2020       40
 1     TT  585900   15000  2020       40
 2     TT   85000  256000  2000      1.8
 3     TT   99800  200000  2000      1.8
 4     TT   49000  270000  1999      1.8
 5     TT  359900   87000  2015        2
 6     TT   79900  244000  1999      1.8
 7     TT   59500  312000  2000      1.8
 8     TT  195000  205000  2008        2
 9     TT  109900  185000  1999      1.8
 10    TT   69900  280000  1998      1.8
 11    TT   45000  275000  1999      1.8
 12    TT   45000  266000  1998      1.8
 13    TT   64800  255000  1998      1.8
 14    TT   89600  190000  2000      1.8
 15    TT   29500  190000  2000      1.8
 16    TT   67500  265000  2001      1.8
 17    TT   87000  233000  2001      1.8
 18    TT  179900  133000  2008        2
 19    TT  444900   57000  2015        2
 20    TT  249900  130000  2007        2
 21    TT  229900  224000  2007      3.2
 22    TT  409900   88000  2016      1.8
 23    TT  199900  189000  2007      3.2
 24    TT  429900  109000  2014        2
 25    TT  169800  251000  2008        2
 26    TT  189900   94000  2015        2
 27    TT  409900   94000  2014        2
 28    TT  439900   96000  2015        2
 29    TT   49000  270000  1999      1.8
 30    TT  607900    6000  2020       40
 31    TT  409900   94000  2014        2
 32    TT  519800   35000  2017        2
 33    TT  115000  185000  1998      1.8
 34    TT  189900   94000  2015        2
 35    TT  185000   95000  2001      1.8
 36    TT  299500   99000  2007      3.2
 37    TT   99800  277000  1998      1.8
 38    TT  585900   15000  2020       40
 39    TT  444900   57000  2015        2
 40    TT  429900  109000  2014        2
 41    TT  129900  224000  2003      1.8
 42    TT  249900  130000  2007        2
 43    TT  129900  270000  2003      3.2,
 'TTS':   model   price      km  year capacity
 0   TTS  269000  156000  2009        2
 1   TTS  139000  132000  2013        2
 2   TTS  219500  193000  2008        2,
 'V8':   model  price      km  year capacity
 0    V8  59800  316000  1991      4.2}